body{
 background-image:url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 900px 700px;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  margin-top: 40px;
  border: 3px solid #028479;
  padding: 2px;
  background-color: #038479;
  text-align: center;
  
  font-family: 'Qwitcher Grypen';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 40px;
}

#container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.row {
  overflow: hidden;
}

.white {
    float: left;
    width: 60px; 
    height: 60px;
    background-color: white;
    border: 1px solid black; 
}

.black {
    float: left;
    width: 60px; 
    height: 60px;
    background-color: #787878;
    border: 1px solid black; 
}

#footer {
border:solid 1px;
padding: 10px;
margin:10px;
text-align: center;
background-color: #038479;
}

.white img {
   margin-left: 3.5px;
  margin-right: 3.5px;
}

.black img {
   margin-left: 3.5px;
  margin-right: 3.5px;
}


